
.buttonLogin {
    width: 312px;
    margin: 10px 0;
    background-color: #2e8aa3;
    max-width: 310px;
}

.label-error {
    color: tomato;
}

.logo {
    width: 9.115vw;
    transform: rotate(-90deg);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}