.favicon{
    height: auto;
    width: 2.5vw;
    margin-right: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    padding-left: 10px;
}